[submodule "references/Titanium-Web-Proxy"]
	path = references/Titanium-Web-Proxy
	url = https://github.com/SteamTools-Team/Titanium-Web-Proxy.git
[submodule "references/AvaloniaGif"]
	path = references/AvaloniaGif
	url = https://github.com/SteamTools-Team/AvaloniaGif
[submodule "references/sqlite-net"]
	path = references/sqlite-net
	url = https://github.com/SteamTools-Team/sqlite-net.git
[submodule "references/FluentAvalonia"]
	path = references/FluentAvalonia
	url = https://github.com/SteamTools-Team/FluentAvalonia.git
[submodule "references/reactive"]
	path = references/reactive
	url = https://github.com/SteamTools-Team/reactive.git
